@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/greg-rosenke-6QnEf_b47eA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
}

